/* IMPORTS
================================================================================ */

@import 'includes/reset';
@import 'includes/variables';
@import 'includes/mixins';
@import 'includes/forms';


/* GENERAL
================================================================================ */

@font-face {
    font-family: 'TA Graphik';
    src: url('../fonts/Graphik-Regular.eot');
    src: url('../fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Graphik-Regular.woff2') format('woff2'),
         url('../fonts/Graphik-Regular.woff') format('woff'),
         url('../fonts/Graphik-Regular.ttf') format('truetype'),
         url('../fonts/Graphik-Regular.svg#Graphik t Web-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

* {
    text-rendering: geometricPrecision;
}

body {
    color: $drgray;
    font-family: 'TA Graphik';
}

p.description {
    @include size3;
}

code {
    font-family: monospace;
    background-color: rgba($lilgray, 0.1);
    padding: 0 0.3em;
}

code.pre {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 2px;
    box-sizing: border-box;
    overflow-x: scroll;
    white-space: pre;
    line-height: 20px;
}

a, a:visited {
    color: $seltzer;
}

a:hover {
    color: $drgray;
}

@media (max-width: 660px) {
    p.description {
        @include size2;
    }

    code.pre {
        padding: 5px;
    }
}


/* HEADER
================================================================================ */

header {
    max-width: 496px;
    margin: 120px auto;
    text-align: center;

    > * {
        text-align: inherit;
    }

    h1 {
        @include size8;
        line-height: 80px;
    }

    p.description {
        padding-top: 90px;
    }
}

@media (max-width: 660px) {
    header {
        margin: 60px auto 90px;
    }

    header h1 {
        @include size6;
    }

    header p.description {
        padding: 60px 23px 0px;
    }
}


/* MAIN
================================================================================ */

main {
    max-width: 706px;
    margin: 0 auto;
    padding: 0 23px;
    box-sizing: border-box;
}

li.accordion {
    width: 100%;
    height: 128px;
    box-sizing: border-box;
    border-top: 1px solid $lilgray;
    overflow: hidden;
    position: relative;
    transition: height 300ms $easing;

    &:last-of-type {
        height: 129px;
        border-bottom: 1px solid $lilgray;
    }
}

li.accordion h1 {
    @include size5;
    line-height: 128px;
    position: relative;
    cursor: pointer;

    &::after {
        content: '';
        display: block;
        width: 24px;
        height: 28px;
        position: absolute;
        right: 50px;
        top: 50px;
        background: transparent url('../images/arrow.png') no-repeat center center;
        background-size: 24px 28px;
        opacity: 1;
        transform: rotate(0deg);
        transition: transform 300ms $easing;
    }
}

li.accordion[data-open=true] h1::after {
    opacity: 0.2;
    transform: rotate(-180deg);
}

@media (max-width: 660px) {
    li.accordion h1 {
        @include size3;
        line-height: 128px;
        top: 0;
    }

    li.accordion h1::after {
        right: 14px;
    }
}


/* EXAMPLES
================================================================================ */

section {
    padding-bottom: 40px;

    h2 {
        @include size5;
        padding: 40px 0px;
    }

    p.description {
        padding: 0px 0px 40px 0px;
    }
}

section canvas {
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
}

#progress-bar {
    width: 100%;
    height: 8px;
    margin: 0 0 8px;
    box-sizing: border-box;
    position: relative;
    top: -8px;

    &::-webkit-progress-bar {
        background-color: transparent;
    }

    &::-webkit-progress-value {
        background-color: $seltzer;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
}

#meta-container {
    overflow: auto;

    > * {
        float: left;
    }

    > div {
        width: 25%;
    }

    > table {
        width: 75%;
    }
}

#meta-container button {
    margin: 0;
}

table {
    border-top: 2px solid $lilgray;
    width: 100%;
}

table tr {
    border-bottom: 1px solid rgba($lilgray, 0.2);
}

table th {
    width: 50%;
}

table th,
table td {
    border: none;
    margin: 0px;
    padding: 12px 4px;
}

table th {
    font-weight: 500;
    text-align: left;
}

@media (max-width: 660px) {
    section h2 {
        @include size3;
        padding: 30px 0px;
    }

    section p.description {
        padding: 0px 0px 20px 0px;
    }
    #meta-container > div {
        text-align: center;
    }

    #meta-container > div,
    #meta-container > table {
        float: none;
        width: 100%;
    }

    #meta-container button {
        margin: 0 auto 20px;
    }
}


/* FOOTER
================================================================================ */

footer {
    max-width: 660px;
    margin: 90px auto 120px;

    > * {
        text-align: center;
        display: block;
    }

    > a {
        @include size3;
    }
}

footer small {
    @include size2;
    padding-top: 40px;

    a::after {
        content: '—';
        color: $lilgray;
        margin: auto 20px;
    }

    a:last-of-type::after {
        content: '';
        margin: 0;
    }
}

@media (max-width: 660px) {
    footer {
        margin: 60px auto 90px;
        padding: 0 23px;
    }

    footer > a {
        @include size2;
    }

    footer small a::after {
        margin: auto 10px;
    }
}


/* CODE BLOCKS
================================================================================ */

@media screen {
    .prettyprint {

        .pln {
            color: $drgray;
        }

        /* string content */
        .str {
            color: $purp;
        }

        /* keyword */
        .kwd {
            color: $seltzer;
        }

        /* comment */
        .com {
            color: $mrsgray;
        }

        /* type name */
        .typ {
            color: $guac;
        }

        /* literal value */
        .lit {
            color: $salsa;
        }

        /* punctuation */
        .pun {
            color: $lilgray;
        }

        /* variable name */
        .var {
            color: $guac;
        }
    }
}
