// FORMS ---------------------------------------------/

.button-container {
    text-align: center;
    display: block;
}

.button,
input[type=submit] {
    @include transition('border 500ms #{$easing}, color 500ms #{$easing}');
    font: normal 500 18px/56px 'TA Graphik', sans-serif !important;
    background-color: $platinum;
    border: 2px solid $lilgray;
    padding: 0 30px !important;
    margin: 60px auto 0;
    height: 60px;
    width: auto;
    display: inline-block;
    box-sizing: border-box;
    color: $drgray;
    cursor: pointer;

    .no-touch & {
        &:hover {
            border: 2px solid $seltzer;
            color: $seltzer;
        }

        &:active {
            border: 2px solid $seltzer;
            background-color: $seltzer;
            color: $platinum;
            @include transition('all 100ms #{$easing}');
        }
    }

    &.white {
        background-color: transparent;
        border-color: $platinum;
        color: $platinum;

        &:hover {
            border-color: $platinum;
            color: $platinum;
        }

        &:active {
            border-color: $platinum;
            background-color: $platinum;
            color: $seltzer;
        }
    }
}

input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=url] {
    font: normal 500 18px/56px 'TA Graphik', sans-serif !important;
    background-color: $platinum;
    border: 2px solid $lilgray;
    padding: 0 30px !important;
    margin: 60px auto 0;
    height: 60px;
    width: auto;
    display: inline-block;
    box-sizing: border-box;
    color: $drgray;

    &:focus {
        border: 2px solid $seltzer;
    }

    &.white {
        background-color: transparent;
        border-color: $platinum;
        color: $platinum;
    }
}

.button.disabled,
input:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.3;
}

@media screen and (max-width: $small) {
    .button,
    input[type=submit],
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=url],
    button {
        height: 50px;
        padding: 0 25px!important;
        font: normal 500 14px/46px 'TA Graphik', sans-serif !important;
        margin: 60px auto 0;
    }
}

@media all and (orientation: landscape) and (max-height: $xsmall) {
    .button,
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=url],
    input[type=submit],
    button {
        height: 50px;
        padding: 0 25px !important;
        font: normal 500 14px/46px 'TA Graphik', sans-serif !important;
        margin: 60px auto 0;
    }
}