// COLORS --------------------------------------------/

$purp: #8c1aff;
$seltzer: #5959ff;
$guac: #29cc6d;
$honeybee: #ffd91a;
$salsa: #ff6040;
$drgray: #262626;
$mrsgray: #808080;
$lilgray: #bfbfbf;
$platinum: #ffffff;


// SIZES --------------------------------------------/

$xlarge: 1440px;
$large: 1280px;
$regular: 1024px;
$medium: 768px;
$small: 560px;
$xsmall: 320px;


// EASING --------------------------------------------/

$easing: cubic-bezier(0.19, 1, 0.22, 1);
$easing-reversed: cubic-bezier(0.81, 0, 0.78, 0);